tp3webserviceswcf/ex3clientasp/App_WebReferences/ServiceReference1/FiliereService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52407/FiliereService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ex3servicewcf" />
  <xs:element name="getAllFilieres">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllFilieresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ex3servicewcf" minOccurs="0" name="getAllFilieresResult" nillable="true" type="q1:ArrayOfFiliere" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>