tp3webserviceswcf/ex3clientasp/App_WebReferences/ServiceReference1/FiliereService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ex3servicewcf" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ex3servicewcf" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFiliere">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Filiere" nillable="true" type="tns:Filiere" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFiliere" nillable="true" type="tns:ArrayOfFiliere" />
  <xs:complexType name="Filiere">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id_filiere" type="xs:int" />
      <xs:element minOccurs="0" name="Nom_filiere" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Filiere" nillable="true" type="tns:Filiere" />
</xs:schema>